<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Detalle Producto</title>
  </head>
  <body>
    <h1>Detalle del Producto</h1>
    <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
    <p><strong>Precio:</strong> {{ producto.precio }}</p>
    <p><strong>Stock:</strong> {{ producto.stock }}</p>
    <p><strong>Categoría:</strong> {{ producto.categoria }}</p>

    {% if producto.stock > 0 %}
    <a href="{% url 'marcar_agotado' producto.codigo %}">Marcar como Agotado</a>
    {% endif %}
  </body>
</html>
